<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:dropdown="http://bitbucket.org/sasynkam/primefacesapp/dropdown"
                xmlns:form="http://xmlns.jcp.org/jsf/composite/composite_components/form"
                template="/WEB-INF/templates/simpleTemplate.xhtml">

    <ui:define name="content">

        <h2>Dependent dropdown list</h2>

        <h:form prependId="false">
            <p:importEnum type="org.bitbucket.sasynkam.primefacesapp.model.DropdownType"/>

            <p:panel header="Select a Location" style="margin-bottom:10px;">
                <h:panelGrid columns="2" cellpadding="5">

                    <p:outputLabel for="country" value="Country:"/>
                    <p:selectOneMenu id="country" value="#{dependentListController.country}" style="width:200px">
                        <f:selectItem itemLabel="Select country" itemValue="" noSelectionOption="true"/>
                        <f:selectItems
                                value="#{dropdown:list(DropdownType.Countries, dependentListController.dropdownService)}"
                                var="item"
                                itemValue="#{item.id}" itemLabel="#{item.name}"/>
                        <p:ajax event="change" update="city"/>
                    </p:selectOneMenu>

                    <p:outputLabel for="city" value="City:"/>
                    <p:selectOneMenu id="city" value="#{dependentListController.city}" style="width:200px">
                        <f:selectItem itemLabel="Select city" itemValue="" noSelectionOption="true"/>
                        <f:selectItems
                                value="#{dropdown:dependentList(DropdownType.Cities, dependentListController.country, dependentListController.dropdownService)}"
                                var="item"
                                itemValue="#{item.id}" itemLabel="#{item.name}"/>
                        />
                    </p:selectOneMenu>

                </h:panelGrid>
                <p:separator/>

                <p:commandButton value="Submit" action="#{dependentListController.actionDisplayLocation}"
                                 icon="pi pi-check"/>
            </p:panel>
        </h:form>

        <h2>Dependent dropdown list - wrapped into composite component</h2>

        <h:form prependId="false">
            <p:importEnum type="org.bitbucket.sasynkam.primefacesapp.model.DropdownType"/>

            <form:dropdownCC id="countryId"
                             label="Country"
                             value="#{dependentListController.country}"
                             dropdown="#{dropdown:list(DropdownType.Countries, dependentListController.dropdownService)}"
                             update="cityId:cityId"/>

            <form:dropdownCC id="cityId"
                             label="City"
                             value="#{dependentListController.city}"
                             dropdown="#{dropdown:dependentList(DropdownType.Cities, dependentListController.country, dependentListController.dropdownService)}"/>
        </h:form>

        <h2>Dependent dropdown list - wrapped into taglib</h2>


    </ui:define>
</ui:composition>