<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/simpleTemplate.xhtml">

    <ui:define name="content">

        <h2>p:schedule</h2>

        <p:schedule value="#{scheduleController.eventModel}"
                    locale="#{scheduleController.locale}"
                    timeZone="#{scheduleController.timeZone}"
                    clientTimeZone="#{scheduleController.clientTimeZone}"
                    draggable="false">

        </p:schedule>

    </ui:define>
</ui:composition>