<ui:component xmlns="http://www.w3.org/1999/xhtml"
              xmlns:h="http://xmlns.jcp.org/jsf/html"
              xmlns:f="http://xmlns.jcp.org/jsf/core"
              xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
              xmlns:p="http://primefaces.org/ui"
              xmlns:composite="http://xmlns.jcp.org/jsf/composite">


    <composite:interface>
        <composite:attribute name="id" type="java.lang.String" required="true"/>
        <composite:attribute name="label" type="java.lang.String" required="true"/>
        <composite:attribute name="value" type="java.lang.Object" required="true"/>
        <composite:attribute name="dropdown" type="java.util.List" required="true"/>
        <composite:attribute name="update" type="java.lang.String" required="false"/>
    </composite:interface>

    <composite:implementation>
        <p:importEnum type="org.bitbucket.sasynkam.primefacesapp.model.DropdownType"/>

        <h:panelGrid columns="2" cellpadding="5">

            <p:outputLabel for="#{cc.attrs.id}" value="#{cc.attrs.label}:"/>
            <p:selectOneMenu id="#{cc.attrs.id}" value="#{cc.attrs.value}" style="width:200px">
                <f:selectItem itemLabel="Select..." itemValue="" noSelectionOption="true"/>
                <f:selectItems value="#{cc.attrs.dropdown}"
                               var="item"
                               itemValue="#{item.id}" itemLabel="#{item.name}"/>
                <p:ajax event="change" update="#{cc.attrs.update}"/>
            </p:selectOneMenu>

        </h:panelGrid>
    </composite:implementation>

</ui:component>