<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/WEB-INF/templates/simpleTemplate.xhtml">

    <ui:define name="content">

        <h2>PrimeFaces - components</h2>
        <ul>
            <li><a href="./primefaces/contentSecurityPolicy.xhtml">CSP - Content Security Policy</a></li>
            <li><a href="./primefaces/webSocket.xhtml">Web Socket</a></li>
            <li><a href="./primefaces/dropdownList.xhtml">Dependend drop down lists</a></li>
            <li><a href="./primefaces/schedule.xhtml">Schedule</a></li>
        </ul>

        <h2>PrimeFaces Extensions - components</h2>
        <p>https://github.com/primefaces-extensions/primefaces-extensions.github.com/wiki/Getting-Started</p>

        <ul>
             <li><a href="./pf_extensions/layout.xhtml">Layout</a></li>
        </ul>

    </ui:define>
</ui:composition>