<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:pe="http://primefaces.org/ui/extensions"
                template="/WEB-INF/templates/simpleTemplate.xhtml">

    <ui:define name="content">

        <h1>Java binding works correctly - tested since PF Extensions 8.0</h1>
        <h2>Layout with the java binding</h2>
        <pe:layout fullPage="false" style="width:1000px; height:100px;"
                   options="#{layoutController.layoutOptions}">

            <pe:layoutPane position="west">
                Left
            </pe:layoutPane>
            <pe:layoutPane position="center">
                Center
            </pe:layoutPane>
        </pe:layout>

        <h1>Definition via attributes - broken since PF Extensions 8.0.1</h1>
        <h2>Without binding, with styled size 1000px x 100px</h2>
        <pe:layout fullPage="false" style="width:1000px; height:100px;"
                   slidable="false"
                   resizeWhileDragging="true">
            <pe:layoutPane position="west"
                           minSize="200"
                           maxSize="800">
                Left
            </pe:layoutPane>
            <pe:layoutPane position="center">
                Center
            </pe:layoutPane>
        </pe:layout>

        <h2>Without binding, with styled size 1000px x 100px, west 500</h2>
        <pe:layout fullPage="false" style="width:1000px; height:100px;"
                   slidable="false"
                   resizeWhileDragging="true">
            <pe:layoutPane position="west" size="500">
                Left
            </pe:layoutPane>
            <pe:layoutPane position="center">
                Center
            </pe:layoutPane>
        </pe:layout>

        <h2>Without binding, with styled size 1000px x 100px, west 50%</h2>
        <pe:layout fullPage="false" style="width:1000px; height:100px;"
                   slidable="false"
                   resizeWhileDragging="true">
            <pe:layoutPane position="west" size="50%">
                Left
            </pe:layoutPane>
            <pe:layoutPane position="center">
                Center
            </pe:layoutPane>
        </pe:layout>

        <h2>Without binding, without style, west 50%</h2>
        <pe:layout fullPage="false">
            <pe:layoutPane position="west" minWidth="50%">
                Left
            </pe:layoutPane>
            <pe:layoutPane position="center">
                Center
            </pe:layoutPane>
        </pe:layout>

    </ui:define>
</ui:composition>