<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<f:view encoding="UTF-8" contentType="text/html">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
            <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
            <title>My JSF 2,3 and PrimeFaces application</title>
        </f:facet>
    </h:head>

    <h:body>
        <p:inputNumber style="display:none"/> <!-- fix: 'PrimeFaces' is undefined error in browser console  -->

        <div id="container">
            <div id="header">
                <ui:insert name="header">
                    <h1>Welcome to the sample JSF application</h1>
                </ui:insert>
            </div>

            <div id="content">
                <ui:insert name="content">
                    Content
                </ui:insert>
            </div>

            <p:separator/>
            <div id="footer">
                <ui:insert name="footer">
                    Powered by Java 11 &amp; JSF 2.3
                </ui:insert>
            </div>
        </div>
    </h:body>

</f:view>
</html>